/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #292929;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
** General 
*/
body {
  background-color: #EDEEF7;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  width: 85%;
}

/*
** Text 
*/
.regular, .home .text-home p, .form-preview-card .form .form-row .form-select select, .form-preview-card .form .form-row .form-item .error-wrapper small, .form-preview-card .form .form-row .form-item input, .template-card-0 .infos-card p, .template-card-1 .infos-card p, .template-card-2 .infos-card p {
  font-family: 'Satoshi-Regular';
}

.medium, .form-preview-card .form .form-row .form-item label {
  font-family: 'Satoshi-Medium';
}

.bold, .button-custom, .home .text-home h1, .form-preview-card .form > h1, .form-preview-card .form > h2, .template-card-0 .infos-card .header-card p, .template-card-1 .infos-card .header-card p, .template-card-2 .infos-card .header-card p {
  font-family: 'Satoshi-Bold';
}

/*
** Button 
*/
.button-custom {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  height: 30px;
  margin-left: 20%;
  margin-top: 3.5em;
}

.button-blue {
  background-color: #002F94;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-blue::after {
  content: url("../img/arrow.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7px;
}

.button-black {
  background-color: #292929;
}

/*
** Home view
*/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 990px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.home .text-home {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990px) {
  .home .text-home {
    width: 100%;
    height: 50vh;
  }
}

.home .text-home h1 {
  margin-bottom: 48px;
  font-size: 70px;
  color: #002F94;
}

.home .text-home p {
  margin-bottom: 54px;
  font-size: 20px;
  line-height: 22px;
  color: #292929;
}

.home .text-home .home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.home .img-home {
  width: 40%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 990px) {
  .home .img-home {
    width: 90%;
    height: 50vh;
  }
}

@media (max-width: 660px) {
  .home .img-home {
    height: 35vh;
  }
}

.home .img-home img {
  width: 100%;
}

.home .img-home::before {
  content: url("../img/background.png");
  position: absolute;
  z-index: -1;
  left: 0;
  height: 100vh;
  top: 0;
}

/*
** Create card view
*/
.form-preview-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-preview-card .card-preview {
  width: 100%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-preview-card .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-preview-card .form > h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #292929;
}

.form-preview-card .form > h2 {
  font-size: 25px;
  margin-bottom: 30px;
  color: #002F94;
}

.form-preview-card .form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-preview-card .form .form-row .form-select {
  margin-bottom: 33px;
}

.form-preview-card .form .form-row .form-select select {
  padding: 13px 8px;
  border: none;
  background-color: white;
  border-radius: 6px;
  font-size: 16px;
  width: 95%;
  color: #002F94;
  margin-top: 14px;
}

.form-preview-card .form .form-row .form-item {
  width: 40%;
}

.form-preview-card .form .form-row .form-item .error-wrapper {
  height: 33px;
}

.form-preview-card .form .form-row .form-item .error-wrapper small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-preview-card .form .form-row .form-item label {
  margin-bottom: 14px;
  color: #292929;
}

.form-preview-card .form .form-row .form-item input {
  padding: 13px 8px;
  border: none;
  background-color: white;
  border-radius: 6px;
  font-size: 16px;
  width: 95%;
  color: #002F94;
}

.form-preview-card .form .form-row .form-item input::-webkit-input-placeholder {
  color: grey;
}

.form-preview-card .form .form-row .form-item input:-ms-input-placeholder {
  color: grey;
}

.form-preview-card .form .form-row .form-item input::-ms-input-placeholder {
  color: grey;
}

.form-preview-card .form .form-row .form-item input::placeholder {
  color: grey;
}

.all-templates {
  margin-bottom: 30px;
  margin-top: -5%;
  width: 100%;
}

.all-templates .template-box {
  width: 205px;
  height: 122px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.all-templates .template-box.active::after {
  content: url("../img/active.svg");
  position: absolute;
  z-index: 999;
  right: -7%;
  top: -8%;
}

/**
 * Slider card view 
 */
.template-box {
  position: absolute;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.containerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.active {
  background-color: red;
}

.button-next {
  font-size: 25px;
  padding-top: 5px;
  background: white;
  margin-top: 2em;
  margin-left: -2em;
  height: 40px;
  border-radius: 50px;
  outline: none;
  border: 0px solid black;
  cursor: pointer;
  color: black;
}

.template-box {
  z-index: 0;
}

.template-2 {
  z-index: 1;
}

.template-3 {
  z-index: 1;
}

.template-1 {
  z-index: 2;
}

.buttons-create-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.buttons-create-card .button-custom {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.business-card {
  width: 558px;
  height: 310px;
}

/*
** Template 0
*/
.template-card-0 {
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-card-0 .logo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

.template-card-0 .infos-card {
  width: 45%;
  padding-left: 26px;
  padding-block: 10px;
}

.template-card-0 .infos-card p {
  color: white;
  font-size: 15px;
  margin-bottom: 21px;
}

.template-card-0 .infos-card .item-card {
  position: relative;
  margin-left: 1.5em;
}

.template-card-0 .infos-card .email::before {
  content: url("../img/Frame.svg");
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-0 .infos-card .phone::before {
  content: url("../img/Frame-1.svg");
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-0 .infos-card .address {
  margin-bottom: 0px !important;
}

.template-card-0 .infos-card .address::before {
  content: url("../img/Frame-2.svg");
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-0 .infos-card .address p {
  margin-bottom: 5px;
}

.template-card-0 .infos-card .header-card {
  margin-bottom: 33px;
}

.template-card-0 .infos-card .header-card p:first-child {
  font-size: 20px !important;
  margin-bottom: 5px;
}

/*
** Template 1
*/
.template-card-1 {
  width: 100%;
  height: 100%;
  background: url("../img/background-meta.svg");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
}

.template-card-1 .logo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.template-card-1 .logo-card img {
  margin-left: 13px;
}

.template-card-1 .infos-card {
  width: 48%;
  padding-left: 26px;
  padding-block: 10px;
}

.template-card-1 .infos-card p {
  color: black;
  font-size: 15px;
  margin-bottom: 21px;
}

.template-card-1 .infos-card .item-card {
  position: relative;
  margin-left: 2em;
}

.template-card-1 .infos-card .email::before {
  content: url("../img/email-meta.svg");
  position: absolute;
  left: -2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-1 .infos-card .phone::before {
  content: url("../img/phone-meta.svg");
  position: absolute;
  left: -2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-1 .infos-card .address {
  margin-bottom: 0px !important;
}

.template-card-1 .infos-card .address::before {
  content: url("../img/place-meta.svg");
  position: absolute;
  left: -2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-1 .infos-card .address p {
  margin-bottom: 5px;
}

.template-card-1 .infos-card .header-card {
  margin-bottom: 33px;
}

.template-card-1 .infos-card .header-card p:first-child {
  font-size: 20px !important;
  margin-bottom: 5px;
}

/*
** Template 2
*/
.template-card-2 {
  width: 100%;
  height: 100%;
  background-color: #FF5A5F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template-card-2 .logo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.template-card-2 .itmes-card-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.template-card-2 .infos-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-block: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-card-2 .infos-card p {
  color: white;
  font-size: 15px;
}

.template-card-2 .infos-card .item-card {
  position: relative;
  margin-left: 1.5em;
}

.template-card-2 .infos-card .email::before {
  content: url("../img/Frame.svg");
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-2 .infos-card .phone::before {
  content: url("../img/Frame-1.svg");
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-2 .infos-card .address {
  margin-bottom: 0px !important;
}

.template-card-2 .infos-card .address::before {
  content: url("../img/Frame-2.svg");
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.template-card-2 .infos-card .address p {
  margin-bottom: 5px;
}

.template-card-2 .infos-card .header-card {
  margin-bottom: 20px;
  margin-top: 10px;
}

.template-card-2 .infos-card .header-card p:first-child {
  font-size: 20px !important;
  margin-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */